@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  color: #fff;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

/* ------------------------ Side Nav Bar positioning ------------------------ */

.navBar {
  position: relative; /* fixing the navbar to side; PC:view port ; made relative to be scrollable*/
  left: 0;
  top: 0;

  min-height: 100vh; /* to take full height if view port */
  min-width: 250px;
  max-width: 250px; /* this is given to solve the width issue */
  background-color: #32373d;
}

/* --------------------------- NavBar top styling --------------------------- */

.navBar__top {
  width: 100%;
  height: 250px;
  display: flex; /* makes its child elem inline-block display */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to bottom, #f1f2f48c 0%, #5a585959 83%),
    url(images/landBg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.navBar__topLogo {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: url(images/kangaroo.jpg) no-repeat center center/cover;
}

.navBar__top h2 {
  margin-top: 16px;
}

/* ---------------------- NavBar link contents styling ---------------------- */

.navBar__item {
  height: 60px; /*ht of each li*/
  display: flex;
  align-items: center;
  padding: 15px 30px; /* 1:2 ratio for padding is given - best practice */
  color: rgba(255, 255, 255, 0.6);
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  cursor: pointer;
  font-size: 15px;
}

.navBar__item a {
  font-size: 15px;
  margin-right: 20px;
  color: rgba(255, 255, 255, 0.6);
}

/* ------------------------------ hover effect ------------------------------ */

.navBar__item:hover a {
  color: #fff;
}

.navBar__item:hover {
  color: #fff;
  background: #2f89fc;
  border-bottom: 1px solid #2f89fc;
}

/* -------------------------- active -click effect -------------------------- */
/* when there is an active class for the li */
.navBar__item.active a{
  color: #fff;
  font-weight: 600;
}
.navBar__item.active{
  color: #fff;
  font-weight: 600;
}