@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

.navBar {
  width: 100%;
  min-height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #232f3e;
}

/* ---------------------- Styling left side of Nav Bar ---------------------- */
/* a transparent border is given
 to avoid the pushing effect on hover */

.navBar__left {
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 3px 8px 0px 8px;
  margin-left: 10px;
  border: 1px solid transparent;
}

.navBar__left ion-icon {
  font-size: 23px;
  align-self: center;
  --ionicon-stroke-width: 40px;
}

.navBar__left .addr h5 {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

.navBar__left .addr h4 {
  font-size: 14px;
  line-height: 15px;
  padding-right: 11px;
  font-weight: 700;
}

/* ---------------------- Styling for middle of Nav Bar --------------------- */

.navBar__middle {
  height: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  border-radius: 2px;
}

.navBar__items {
  border: 1px solid transparent;
}

.navBar__items a {
  font-size: 14px;
  padding: 4px 5px;
  text-align: center;
  margin: 5px 3px 6px 2px;
  display: block;
  margin: 2px 3px;
}

/* ---------------------- Styling for Nav Bar right end --------------------- */

.navBar__right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 100%;
  line-height: 28px;
  padding: 3px 18px;
  font-size: 28px;
  margin-right: 2px;
  border: 1px solid transparent;
}

/* ------------------------------ hover effect ------------------------------ */
.navBar__left:hover,
.navBar__items:hover,
.navBar__right:hover {
  border-radius: 2px;
  border: 1px solid #fff;
}
